<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>messages</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>PaycheckCalculator</servlet-name>
		<servlet-class>com.shoemaker.taxApp.PaycheckCalculatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaycheckCalculator</servlet-name>
		<url-pattern>/PaycheckCalculator</url-pattern>
	</servlet-mapping>
</web-app>